<div class="card p-3">
	<table class="table w-100">
		<tr>
			<th> Réference </th>
			<td> {{ mission.reference }} </td>
		</tr>
		<tr>
			<th> Catégorie </th>
			<td> {{ mission.categorie }} </td>
		</tr>
		<tr>
			<th> Typologie </th>
			<td> {{ mission.typologie }} </td>
		</tr>
		<tr>
			<th>  Objectif de la mission  </th>
			<td>{{ mission.objectifGlobal }}</td>
		</tr>
		<tr>
			<th> Date début </th>
			<td> {{ mission.dateDebut | date("d/m/y") }} </td>
		</tr>
		<tr>
			<th>Date fin</th>
			<td>{{ mission.dateFin | date("d/m/y") }}</td>
		</tr>
{#		<tr>#}
{#			<th> Nombre de participants </th>#}
{#			<td> {{ nombre_participants }} </td>#}
{#		</tr>#}
		<tr>
			<th>Statut</th>
			<td><span class="badge" style="background-color: {{ mission.statut.color }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ mission.statut }}">{{ mission.statut }}</span></td>
		</tr>
	</table>
</div>