<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
{#             <img src="{{ asset('files/logo/'~renderMinistereLogoActif()) }}" class="logo-icon img-fluid h-100 w-100" alt="logo icon"> #}
            <img src="" class="logo-icon img-fluid h-100 w-100" alt="logo icon">
        </div>


        <div>
            <h4 class="logo-text"></h4>
        </div>
    </div>

    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="">
                <div class="parent-icon"><i class="bi bi-house-door"></i></div>
                <div class="menu-title">Accueil</div>
            </a>
        </li>

        <li class="menu-label"><b style=" color:#198754">Programmation</b></li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="fa-solid fa-list"></i></div>
                <div class="menu-title">Programmation pluriannuelle</div>
            </a>
            <ul>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Validation</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="fa-solid fa-list"></i></div>
                <div class="menu-title">Programmation annuelle</div>
            </a>
            <ul>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Transmission</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Amendement</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Pré-validation</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Validation CMAI</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Validation Ministre</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Validation Chef de service</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Actualisation</a></li>
            </ul>
        </li>
        <li class="menu-label"><b style=" color:#ffc12e">Planning et organisation</b></li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="fa-solid fa-list"></i></div>
                <div class="menu-title">Planning</div>
            </a>
            <ul>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Planning des missions</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Validation du planning</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Actualisation du planning</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="fa-solid fa-list"></i></div>
                <div class="menu-title">Organisation</div>
            </a>
            <ul>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Organisation des missions</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Génération de l'ordre de mission</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Génération de la lettre de mission</a></li>
            </ul>
        </li>
        <li class="menu-label"><b style=" color:#991800">Exécution</b></li>
        <li>
{#             <a href="{{ path('app_reunion_ouverture_new') }}"> #}
{#                 <div class="parent-icon"><i class="bi bi-house-door"></i></div> #}
{#                 <div class="menu-title">Réunion d'ouverture</div> #}
{#             </a> #}
        </li><li>
            <a href="">
                <div class="parent-icon"><i class="bi bi-house-door"></i></div>
                <div class="menu-title">Mission en cours</div>
            </a>
        </li>
{#        <li>#}
{#            <a href="{{ path('liste_mission_inspecteur') }}">#}
{#                <div class="parent-icon"><i class="bi bi-house-door"></i></div>#}
{#                <div class="menu-title">Menu inspecteur</div>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{{ path('mission_document_demander') }}">#}
{#                <div class="parent-icon"><i class="bi bi-house-door"></i></div>#}
{#                <div class="menu-title">Menu audité</div>#}
{#            </a>#}
{#        </li>#}


        <li class="menu-label"><b style=" color:#991800">Consultation & Edition</b></li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bi bi-bag-check"></i>
                </div>
                <div class="menu-title">Consultations & Editions</div>
            </a>
            <ul>
                <li><a href=""><i class="bi bi-arrow-right-short"></i> Mission en cours</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>PPV / PAV</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Missions</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Consultation OBS PAV</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Observations (CMAI - MEF)</a></li>
                <li><a href=""><i class="bi bi-arrow-right-short"></i>Programmation annuel</a></li>
            </ul>
        </li>

        <li class="menu-label"><b style=" color:#198754">Paramètres</b></li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bi bi-bag-check"></i>
                </div>
                <div class="menu-title">Paramétrage</div>
            </a>
            <ul>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Acteur</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Bailleur</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Commission</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Exercice</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Fréquence</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Impact</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Localisation</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Ministère</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Objets Auditables</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Etendue des contrôles</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Poste ou Fonction</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Processus/Domaine</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Processus de validation</a></li>
{#                 <li> <a href="{{ path('app_questionnaire_index') }}"><i class="bi bi-arrow-right-short"></i>Questionnaire</a></li> #}
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Questionnaire</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Source de financement</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Tâche</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Type d'acte</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Type de document</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Unité Administrative</a></li>
                <li> <a href=""><i class="bi bi-arrow-right-short"></i>Utilisateur</a></li>
            </ul>
        </li>
    </ul>

    {#        Ancien menu avant modification#}
{#    <ul class="metismenu" id="menu">#}
{#        <li>#}
{#            <a href="{{ path('dashboard') }}">#}
{#                <div class="parent-icon"><i class="bi bi-house-door"></i></div>#}
{#                <div class="menu-title">Accueil</div>#}
{#            </a>#}
{#        </li>#}

{#        <li>#}
{#            <a href="{{ path('app_ppv_elaborate') }}">#}
{#                <div class="parent-icon"><i class="bi bi-house-door"></i></div>#}
{#                <div class="menu-title">PPV</div>#}
{#            </a>#}
{#        </li>#}

{#        <li class="menu-label"><b style=" color:#198754">Préparation</b></li>#}
{#        <li>#}
{#            <a href="javascript:;" class="has-arrow">#}
{#                <div class="parent-icon">#}
{#                    <i class="fa-solid fa-list"></i>#}
{#                </div>#}
{#                <div class="menu-title">PAV</div>#}
{#            </a>#}
{#            <ul>#}
{#                <li>{% if renderExerciceActif()  == "Aucun en cours" %}#}
{#                    {% else %}#}
{#                        <a href="{{ path('app_list_Programmer_saisi') }}">Projet du PAV</a>#}
{#                    {% endif %}</li>#}
{#                <li><a href="{{ path('app_programme_mission_predefini_prevalider') }}" >Pré-validation du PAV</a></li>#}
{#                <li><a href="{{ path('app_programme_mission_predefini_transmis') }}">Transmission du PAV aux inspecteurs</a></li>#}
{#                <li><a href="{{ path('app_programme_predefini') }}" >Validation du PAV</a></li>#}
{#                <li><a href="{{ path('app_modification_pav') }}" >Modification du PAV</a></li>#}
{#            </ul>#}
{#        </li>#}
{#        <li>#}
{#            <a href="javascript:;" class="has-arrow">#}
{#                <div class="parent-icon">#}
{#                    <i class="fa-solid fa-list-ol"></i>#}
{#                </div>#}
{#                <div class="menu-title">Amendements</div>#}
{#            </a>#}
{#            <ul>#}
{#                <li><a href="{{ path('app_consulter_pav') }}">Amender le PAV</a></li>#}
{#                <li><a href="{{ path('app_programme_mission_inspecter') }}">Consultation OBS PAV</a></li>#}
{#                <li><a href="{{ path('app_pav_liste_programme_observation') }}">Observations (CMAI - MEF)</a></li>#}
{#            </ul>#}
{#        </li>#}
{#        <li>#}
{#            <a href="javascript:;" class="has-arrow">#}
{#                <div class="parent-icon">#}
{#                    <i class="fa-solid fa-list-ol"></i>#}
{#                </div>#}
{#                <div class="menu-title">Programmation</div>#}
{#            </a>#}
{#             <ul> #}
{#                 <li><a href="{{ path('app_pav_liste_programmer') }}">Planification des missions</a></li> #}
{#                 <li><a href="{{ path('liste_mission_planifier') }}">Démarrage des missions</a></li> #}
{#             </ul> #}
{#        </li>#}

{#        <li class="menu-label">Exécution</li>#}
{#        <li>#}
{#            <a href="{{ path('liste_missions_en_cours') }}">#}
{#                <div class="parent-icon"><i class="bi bi-house-door"></i></div>#}
{#                <div class="menu-title">Mission en cours</div>#}
{#            </a>#}
{#        </li>#}

{#        <li class="menu-label"><b style=" color:#ffc12e">Consultation & Edition</b></li>#}
{#        <li>#}
{#            <a href="javascript:;" class="has-arrow">#}
{#                <div class="parent-icon"><i class="bi bi-bag-check"></i>#}
{#                </div>#}
{#                <div class="menu-title">Consultations & Editions</div>#}
{#            </a>#}
{#            <ul>#}
{#                <li> <a href="{{ path('app_etat_PAV') }}"><i class="bi bi-arrow-right-short"></i>PPV / PAV</a></li>#}
{#                <li> <a href="{{ path('mission_index') }}"><i class="bi bi-arrow-right-short"></i>Missions</a></li>#}
{#            </ul>#}
{#        </li>#}

{#        <li class="menu-label"><b style=" color:#991800">Paramètres</b></li>#}
{#        <li>#}
{#            <a href="javascript:;" class="has-arrow">#}
{#                <div class="parent-icon"><i class="bi bi-bag-check"></i>#}
{#                </div>#}
{#                <div class="menu-title">Paramétrage</div>#}
{#            </a>#}
{#            <ul>#}
{#                <li> <a href="{{ path('app_acteur_index') }}"><i class="bi bi-arrow-right-short"></i>Acteur</a></li>#}
{#                <li> <a href="{{ path('app_bailleur_new') }}"><i class="bi bi-arrow-right-short"></i>Bailleur</a></li>#}
{#                <li> <a href="{{ path('app_commission_new') }}"><i class="bi bi-arrow-right-short"></i>Commission</a></li>#}
{#                <li> <a href="{{ path('app_annee_new') }}"><i class="bi bi-arrow-right-short"></i>Exercice</a></li>#}
{#                <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_FREQUENCE'}) }}"><i class="bi bi-arrow-right-short"></i>Fréquence</a></li>#}
{#                <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_IMPACT'}) }}"><i class="bi bi-arrow-right-short"></i>Impact</a></li>#}
{#                <li> <a href="{{ path('app_localisation_new') }}"><i class="bi bi-arrow-right-short"></i>Localisation</a></li>#}
{#                <li> <a href="{{ path('app_ministere_new') }}"><i class="bi bi-arrow-right-short"></i>Ministère</a></li>#}
{#                <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_OBJET_AUDITABLE'}) }}"><i class="bi bi-arrow-right-short"></i>Objets Auditables</a></li>#}
{#                <li> <a href="{{ path('app_point_controle_new') }}"><i class="bi bi-arrow-right-short"></i>Point de contrôle</a></li>#}
{#                <li> <a href="{{ path('poste_fonction_new') }}"><i class="bi bi-arrow-right-short"></i>Poste ou Fonction</a></li>#}
{#                <li> <a href="{{ path('app_processus_index') }}"><i class="bi bi-arrow-right-short"></i>Processus de validation</a></li>#}
{#                <li> <a href="{{ path('app_questionnaire_index') }}"><i class="bi bi-arrow-right-short"></i>Questionnaire</a></li>#}
{#                <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_SOURCE_FINANCEMENT'}) }}"><i class="bi bi-arrow-right-short"></i>Source de financement</a></li>#}
{#                <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_TACHE'}) }}"><i class="bi bi-arrow-right-short"></i>Tâche</a></li>#}
{#                <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_ACTE'}) }}"><i class="bi bi-arrow-right-short"></i>Type d'acte</a></li>#}
{#                <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_DOCUMENT'}) }}"><i class="bi bi-arrow-right-short"></i>Type de document</a></li>#}
{#                <li> <a href="{{ path('app_u_a_new') }}"><i class="bi bi-arrow-right-short"></i>Unité Administrative</a></li>#}
{#                <li> <a href="{{ path('app_user_index') }}"><i class="bi bi-arrow-right-short"></i>Utilisateur</a></li>#}
{#            </ul>#}
{#        </li>#}

{#        {% if is_granted('ROLE_ADMINITRATEUR') %}#}
{#            <li class="menu-label">Préparation</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">PAV</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li>{% if renderExerciceActif()  == "Aucun en cours" %}#}
{#                        {% else %}#}
{#                            <a href="{{ path('app_list_Programmer_saisi') }}">Elaboration du PAV</a>#}
{#                        {% endif %}</li>#}
{#                    <li><a href="{{ path('app_programme_predefini') }}" >Validation du PAV</a></li>#}
{#                    <li><a href="{{ path('app_pav_liste_programme_rejeter') }}" >Gestion des rejetés du PAV</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list-ol"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Observations</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li><a href="{{ path('app_consulter_pav') }}">Consulter / Envoyer  des observations</a></li>#}
{#                    <li><a href="{{ path('app_programme_mission_inspecter') }}">Consulter des observations</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list-ol"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Programmation</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li><a href="{{ path('app_pav_liste_programmer') }}">Planification des missions</a></li>#}
{#                    <li><a href="{{ path('liste_mission_planifier') }}">Démarrage des missions</a></li>#}
{#                </ul>#}
{#            </li>#}

{#            #}{#        <li class="menu-label">Exécution</li>#}
{#            #}{#        <li>#}
{#            #}{#            <a href="{{ path('liste_missions_en_cours') }}">#}
{#            #}{#                <div class="parent-icon"><i class="bi bi-house-door"></i></div>#}
{#            #}{#                <div class="menu-title">Mission en cours</div>#}
{#            #}{#            </a>#}
{#            #}{#        </li>#}

{#            #}{#<li class="menu-label">Entité auditable</li>#}
{#            #}{#<li>#}
{#            #}{#<a href="{{ path('mission_document_demander') }}">#}
{#            #}{#<div class="parent-icon"><i class="bi bi-house-door"></i></div>#}
{#            #}{#<div class="menu-title">Fournir des documents</div>#}
{#            #}{#</a>#}
{#            #}{#</li>#}
{#            #}{#<li>#}
{#            #}{#<a href="{{ path('mission_questionnaire_demander') }}">#}
{#            #}{#<div class="parent-icon"><i class="bi bi-house-door"></i></div>#}
{#            #}{#<div class="menu-title">Répondre aux questionnaires</div>#}
{#            #}{#</a>#}
{#            #}{#</li>#}

{#            <li class="menu-label">Consultation & Edition</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon"><i class="bi bi-bag-check"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Consultations & Editions</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li> <a href="{{ path('app_etat_PAV') }}"><i class="bi bi-arrow-right-short"></i>PAV</a></li>#}
{#                    <li> <a href="{{ path('mission_index') }}"><i class="bi bi-arrow-right-short"></i>Missions</a></li>#}
{#                    <li> <a href="{{ path('app_note') }}"><i class="bi bi-arrow-right-short"></i>PAV Final</a></li>#}
{#                </ul>#}
{#            </li>#}

{#            <li class="menu-label">Paramètres</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon"><i class="bi bi-bag-check"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Paramétrage</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li> <a href="{{ path('app_acteur_index') }}"><i class="bi bi-arrow-right-short"></i>Acteur</a></li>#}
{#                    <li> <a href="{{ path('app_bailleur_new') }}"><i class="bi bi-arrow-right-short"></i>Bailleur</a></li>#}
{#                    <li> <a href="{{ path('app_commission_new') }}"><i class="bi bi-arrow-right-short"></i>Comité</a></li>#}
{#                    <li> <a href="{{ path('app_annee_new') }}"><i class="bi bi-arrow-right-short"></i>Exercice</a></li>#}
{#                    <li> <a href="{{ path('app_localisation_new') }}"><i class="bi bi-arrow-right-short"></i>Localisation</a></li>#}
{#                    <li> <a href="{{ path('app_ministere_new') }}"><i class="bi bi-arrow-right-short"></i>Ministère</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_NATURE_MISSION'}) }}"><i class="bi bi-arrow-right-short"></i>Nature de mission</a></li>#}
{#                    <li> <a href="{{ path('poste_fonction_new') }}"><i class="bi bi-arrow-right-short"></i>Poste ou Fonction</a></li>#}
{#                    <li> <a href="{{ path('app_processus_index') }}"><i class="bi bi-arrow-right-short"></i>Processus de validation</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_SOURCE_FINANCEMENT'}) }}"><i class="bi bi-arrow-right-short"></i>Source de financement</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_SOURCE_MISSION'}) }}"><i class="bi bi-arrow-right-short"></i>Source de mission</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_ACTE'}) }}"><i class="bi bi-arrow-right-short"></i>Type d'acte</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_DOCUMENT'}) }}"><i class="bi bi-arrow-right-short"></i>Type de document</a></li>#}
{#                    <li> <a href="{{ path('app_u_a_new') }}"><i class="bi bi-arrow-right-short"></i>Unité Administrative</a></li>#}
{#                    <li> <a href="{{ path('app_user_index') }}"><i class="bi bi-arrow-right-short"></i>Utilisateur</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        {% endif %}#}

{#        {% if is_granted('ROLE_INSPECTEUR') %}#}
{#            <li class="menu-label">Préparation</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">PAV</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li>{% if renderExerciceActif()  == "Aucun en cours" %}#}
{#                        {% else %}#}
{#                            <a href="{{ path('app_list_Programmer_saisi') }}">Elaboration du PAV</a>#}
{#                        {% endif %}</li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list-ol"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Observations</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li><a href="{{ path('app_consulter_pav') }}">Consulter / Envoyer  des observations</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        {% endif %}#}

{#        {% if is_granted('ROLE_IGM') %}#}
{#            <li class="menu-label" style=" color:#ffc12e">Préparation</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">PAV</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li>{% if renderExerciceActif()  == "Aucun en cours" %}#}
{#                        {% else %}#}
{#                            <a href="{{ path('app_list_Programmer_saisi') }}">Elaboration du PAV</a>#}
{#                        {% endif %}</li>#}
{#                    <li><a href="{{ path('app_programme_predefini') }}" >Validation du PAV</a></li>#}
{#                    <li><a href="{{ path('app_pav_liste_programme_rejeter') }}" >Gestion des rejetés du PAV</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list-ol"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Observations</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li><a href="{{ path('app_consulter_pav') }}">Consulter / Envoyer  des observations</a></li>#}
{#                </ul>#}
{#            </li>#}

{#            <li class="menu-label" style=" color:#ffc12e">Consultation & Edition</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon"><i class="bi bi-bag-check"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Consultations & Editions</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li> <a href="{{ path('app_etat_PAV') }}"><i class="bi bi-arrow-right-short"></i>PAV</a></li>#}
{#                    <li> <a href="{{ path('mission_index') }}"><i class="bi bi-arrow-right-short"></i>Missions</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="menu-label" style=" color:#ffc12e">Paramètres</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon"><i class="bi bi-bag-check"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Paramétrage</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li> <a href="{{ path('app_bailleur_new') }}"><i class="bi bi-arrow-right-short"></i>Bailleur</a></li>#}
{#                    <li> <a href="{{ path('app_annee_new') }}"><i class="bi bi-arrow-right-short"></i>Exercice</a></li>#}
{#                    <li> <a href="{{ path('app_localisation_new') }}"><i class="bi bi-arrow-right-short"></i>Localisation</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_NATURE_MISSION'}) }}"><i class="bi bi-arrow-right-short"></i>Nature de mission</a></li>#}
{#                    <li> <a href="{{ path('poste_fonction_new') }}"><i class="bi bi-arrow-right-short"></i>Poste ou Fonction</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_SOURCE_FINANCEMENT'}) }}"><i class="bi bi-arrow-right-short"></i>Source de financement</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_SOURCE_MISSION'}) }}"><i class="bi bi-arrow-right-short"></i>Source de mission</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_ACTE'}) }}"><i class="bi bi-arrow-right-short"></i>Type d'acte</a></li>#}
{#                    <li> <a href="{{ path('type_type_new', {'codereference': 'TYPE_DOCUMENT'}) }}"><i class="bi bi-arrow-right-short"></i>Type de document</a></li>#}
{#                    <li> <a href="{{ path('app_u_a_new') }}"><i class="bi bi-arrow-right-short"></i>Unité Administrative</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        {% endif %}#}

{#        {% if is_granted('ROLE_IGF') %}#}
{#            <li class="menu-label">Préparation</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">PAV</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li><a href="{{ path('app_programme_predefini') }}" >Validation du PAV</a></li>#}
{#                    <li><a href="{{ path('app_pav_liste_programme_rejeter') }}" >Gestion des rejetés du PAV</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list-ol"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Observations</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li><a href="{{ path('app_programme_mission_inspecter') }}">Consulter des observations</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list-ol"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Programmation</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li><a href="{{ path('app_pav_liste_programmer') }}">Planification des missions</a></li>#}
{#                    <li><a href="{{ path('liste_mission_planifier') }}">Démarrage des missions</a></li>#}
{#                </ul>#}
{#            </li>#}

{#            <li class="menu-label">Consultation & Edition</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon"><i class="bi bi-bag-check"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">Consultations & Editions</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li> <a href="{{ path('app_etat_PAV') }}"><i class="bi bi-arrow-right-short"></i>PAV</a></li>#}
{#                    <li> <a href="{{ path('mission_index') }}"><i class="bi bi-arrow-right-short"></i>Missions</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        {% endif %}#}

{#        {% if is_granted('ROLE_MEF') %}#}
{#            <li class="menu-label">Préparation</li>#}
{#            <li>#}
{#                <a href="javascript:;" class="has-arrow">#}
{#                    <div class="parent-icon">#}
{#                        <i class="fa-solid fa-list"></i>#}
{#                    </div>#}
{#                    <div class="menu-title">PAV</div>#}
{#                </a>#}
{#                <ul>#}
{#                    <li><a href="{{ path('app_programme_predefini') }}" >Validation du PAV</a></li>#}
{#                    <li><a href="{{ path('app_pav_liste_programme_rejeter') }}" >Gestion des rejetés du PAV</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        {% endif %}#}
{#    </ul>#}
    <!--end navigation-->
</aside>
<!--end sidebar -->